<ion-view title="Add Product" >
<ion-header-bar class="bar-royal"> 
                <div class = "buttons" style = "display:inline-block;" > 
                    
                    <h1 class="title">Enter Barcode</h1>
                    
                  </div>
               </ion-header-bar>

  <ion-content has-header="true" padding="true" scroll='true' class="">
<form>
   <div class="list list-inset">
  <label class="item item-input">
    <input type="number" placeholder="Barcode" ng-model="barcode.num" autofocus>
  </label>
  
</div> 
</form>
  
<button class="button button-block button-balanced" ng-click="enterBarcode()">Submit</button>
  
  

  </ion-content>
 
</ion-view>
