
<style type="text/css">
.slider { height: 100%; text-align: center; background: #000 }
.scroll { height: 100% }
.box{
    padding:15px;
}
.bottom{
    width: 100%;
position: fixed;
bottom: 0;
}

.card {
padding-top: 1px;
padding-bottom: 1px;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
margin-top: 45px;
text-align:left;
}
.item{
  background: #000;
color: #fff!important;

}
.item p{
  color:#fff!important;
}

</style>

<ion-view title="Login" >

    <ion-slide-box on-slide-changed="slideChanged(index)" auto-play='false' does-continue="true"   show-pager="false" slide-interval="60000">
  <ion-slide>
    <div class="box">

            <ion-header-bar class="bar-royal"> 
                <div class = "buttons" style = "display:inline-block;" > 
                    
                    <h1 class="title">Login Required</h1>   
                </div>
            </ion-header-bar>

            <div class="">
            <button class="button button-dark button-block" style="margin-top:70px; border-color: #8B8B8B!important;" ng-click="scan()">Login</button>
                
            </div>
            <div class='bottom'>
                <img src="images/Swipe_Right.png" style="height:150px; width:150px">
            </div>


    </div>
  </ion-slide>
  <ion-slide>
    <div class="box">
    <ion-header-bar class="bar-royal"> 
                <div class = "buttons" style = "display:inline-block;" > 
                    
                    <h1 class="title">How Login Works</h1>




                    
                  </div>
   </ion-header-bar>
               <div class="card" >
               <div class="item item-divider"> 
               </div>
               <div class="item item-body ">
                <p>To Login into the system, you have to connect your mobile app to you account, This is easily by going to the kiosk, use your
                    tag or fingerprint to login into your Account.</p>

                    <P>On your kiosk account page there is a Connect Mobile App button</P>
                    <p>Use Login button on the Mobile app to open a barcode scanner</p>
                    <p>Hold your phone camera close to the Qrcode generated on the kiosk account page</p>
                    <p>After a successful Scan you will be directed to a cart where you can scan product</p>
                    <p>Your Mobile App will remain Logged in till you logout using the logout button under the account page on the Mobile App</p>

                 
               </div>
                 
               </div>

              
               </div>
  </ion-slide>
  <ion-slide>
    <div class="box">
    <ion-header-bar class="bar-royal"> 
                <div class = "buttons" style = "display:inline-block;" > 
                    
                    <h1 class="title">about</h1>
                    
                  </div>
               </ion-header-bar></div>
  </ion-slide>
</ion-slide-box> 
</ion-view>
       