
      <div class="modal">

      <ion-header-bar class="bar-royal"> 
                <div class = "buttons" style = "display:inline-block;" > 
                   <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div> 
                    <h1 class="title">My Account</h1>
                     
                  </div>

               </ion-header-bar>
      
        {# <header class="bar bar-header bar-royal">
          
          <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>

        </header> #}
        <ion-content has-header="true" padding="true">
         

          <div class="list card">
              <div class="item item-divider">
              Transactions  
              </div>

              <div class="item item-body" ng-repeat="order in orders">


              
                  <p><span style="font-weight:bolder">Order Id: </span>{{order.id}}</p>
                <p><span style="font-weight:bolder">Status: </span> {{order.status}}</p>
                <p><span style="font-weight:bolder">Date: </span> {{order.created |date : 'yyyy/MM/dd HH:mm'}}</p>
                <p><span style="font-weight:bolder">Payment Method: </span> {{order.payment_method}}</p>
                <p><span style="font-weight:bolder">Order Total: </span> {{order.order_total}}</p>
                <p><span style="font-weight:bolder">Gst Tax: </span>{{order.Gst}}</p>
                <p><span style="font-weight:bolder">Pst Tax: </span>{{order.Pst}}</p>

                
              
           
              
                
              </div>



               <a class="item item-icon-left assertive"  ng-class="getting_orders" ng-click="get_next()">
    <i class="icon ion-loop"></i>
    
    More Orders
  </a>

            </div>
    
        </ion-content>
        
      </div>
      