<style type="text/css">
    .item h2 {
margin: 0 0 4px 0;
margin-left: 30px;
font-size: 16px;
}
.item p:last-child {
margin-bottom: 0;
margin-left: 30px;
}
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
padding-left: 70px;
min-height: 70px;
height: 80px;
}
</style>

<ion-view title="Choose a NoScan item" >
<ion-header-bar class="bar-royal"> 
                <div class = "buttons" style = "display:inline-block;" > 
                    
                    <h1 class="title">Choose a NoScan item</h1>
                    
                  </div>
               </ion-header-bar>

  <ion-content has-header="true" padding="true" scroll='true' class="">
  <div class="list card">

  <div class="item item-avatar" ng-repeat="product  in products" ng-click="get_product(product.id)">
    <img src="{{api}}{{product.image}}" style="height:100px; width:100px; max-height:60px; max-width:60px">
    <h2>{{product.name}}</h2>
    <p>${{product.unit_price}}</p>
  </div>

</div
      

      
  </ion-content>
 
</ion-view>
