<ion-view title="Add Product" >
<ion-header-bar class="bar-royal"> 
                <div class = "buttons" style = "display:inline-block;" > 
                    
                    <h1 class="title">Add Product</h1>
                    
                  </div>
               </ion-header-bar>

  <ion-content has-header="true" padding="true" scroll='true' class="">
  
  <button class="button button-block button-dark" ng-click="scan()">Scan Barcode</button>
  <button class="button button-block button-dark" ui-sref="tab.noscanproducts">Choose No-Barcode Product</button>

  <button class="button button-block button-dark" ui-sref="tab.enterbarcode">Enter A Barcode</button>

  </ion-content>
 
</ion-view>
