
<ion-view title="Thankyou" >
<ion-header-bar class="bar-royal"> 
                <div class = "buttons" style = "display:inline-block;" > 
                    
                    <h1 class="title">My Account</h1>
                    <button class="button button-assertive" ng-click="logout()">Logout</button>
                  </div>
               </ion-header-bar>

  <ion-content has-header="true" padding="true" scroll='true' class="" >
  <div class="item item-body">
    Current Balance: ${{currentUser.balance}}
  </div>
  <div class="list">
  
  <form name='userForm'>
      <label class="item item-input item-stacked-label">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="John" ng-model="currentUser.first_name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="Doe" ng-model="currentUser.last_name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="john@doe.com" ng-model="currentUser.email" name='email' email >
        <span ng-show="userForm.email.$error.email" class="assertive">This email format is invalid!</span><br>
      </label>
      
</form>

</div>
<button ng-disabled="userForm.$invalid" class="button button-block button-positive " ng-click="saveUser()">Save Details</button>
<button ng-disabled="userForm.$invalid" class="button button-block button-positive " ng-click="openModal()">Transactions</button>

  </ion-content>
 
</ion-view>
