<style type="text/css">
.button.remove{
    color:#DA0C0C
}
.item{
    font-size:13px;
    padding:0!important;
}
.cart_item{
padding:11px 0 0 0 !important;
}
.cart-button{
    padding:0!important;
}
.row{
    padding:0!important;
}
.totals{
    padding:2px!important;

}
div{
    padding:3px;
}

.bar-footer{
bottom: 62px!important;
}


.bar-footer .button {
min-width: initial;
min-height: 41px;
height: 42px;


}


</style>


<ion-view title="Cart" ng-init="initCart()" has-header='true'>

 <ion-side-menus>
            <ion-pane ion-side-menu-content ng-controller="ContentController"> 
              <ion-header-bar class="bar-royal"> 
                <div class = "buttons" style = "display:inline-block;" > 
                    <button ng-click ="toggleLeft()" class = "button button-icon" > 
                       <i class = "icon ion-navicon"> 
                       </i>
                    </button> 
                    <h1 class="title">Cart</h1>
                    <button class="button " ui-sref="tab.product">Add Product</button>
                  </div>
               </ion-header-bar> 
             
<ion-content >

  


     <ngcart-cart> </ngcart-cart>





  </ion-content>

            </ion-pane>
            <ion-side-menu side="left"  padding='true'>
            <div class="list card">

  <div class="item item-body" style="padding: 15px!important;">
    
    <h2>Welcome {{currentUser.first_name}} {{currentUser.last_name}}</h2>
    <p>Balance ${{currentUser.balance}}</p>

  </div>

  

 
</div>
  
               
            </ion-side-menu>
        </ion-side-menus>
 <!--  <ion-footer-bar>
        <button class="button button-block button-balanced" ng-click="checkout_account()"><i class="icon ion-bag"></i> Checkout </button>
</ion-footer-bar> -->

<ion-footer-bar >
  
    <button class="button button-block button-balanced" ng-click="checkout_account()"><i class="icon ion-bag"></i> Checkout </button>
  
 
  
</ion-footer-bar>



</ion-view>

<script type="text/ng-template" id="template/ngCart/cart.html">

<ion-scroll style=''>  
<div class="alert alert-warning" role="alert" ng-show="ngCart.totalItems() === 0" >
        Your cart is empty
    </div>

<div class="table-responsive col-lg-12" ng-show="ngCart.totalItems() > 0" >


<div class="list">

  <div class="item" ng-repeat="item in ngCart.getCart().items track by $index">
      <div class="row">
      <div class="col cart-button"><button class="button button-icon icon ion-close-circled remove" ng-click="ngCart.removeItem($index, item)"></button> </div>
        <div class="col col-50 cart_item ">{{ item.getName() }}</div>
        <div class="col cart_item">{{ item.getQuantity() | number }}X</div>
        <div class="col cart_item">{{ item.getTotal() | currency }}</div>
          
      </div>
    
  
  </div>


</div>

<div class="row">
        <div class=" col col-50 col-offset-50">
                <div class="row">
                    <div class="col totals">Gst</div>
                    <div class="col totals">{{ ngCart.getHst() | currency }}</div>  
                </div>    
                <div class="row">
                    <div class="col totals">Pst</div>
                    <div class="col totals">{{ ngCart.getPst() | currency }}</div>  
                </div> 
                <div class="row">
                    <div class="col totals">SubTotal</div>
                    <div class="col totals">{{ ngCart.getSubTotal() | currency }}</div>  
                </div>  
                <hr />
                <div class="row">
                    <div class="col totals">Total</div>
                    <div class="col totals">{{ ngCart.totalCost() | currency }}</div>  
                </div>  





        </div>
          
    </div>

    

</div>

</ion-scroll>  



<style>
    .ngCart.cart span[ng-click] {
        cursor: pointer;
    }
    .ngCart.cart .glyphicon.disabled {
        color:#aaa;
    }
</style>
</script>


