<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->

<style type="text/css">
  tabs-striped.tabs-dark .tab-item.tab-item-active {
color: #fff;
}
</style>


<ion-tabs class="tabs-striped tabs-color-assertive tabs-icon-top ">


  <!-- Pets Tab -->
  <ion-tab title="Cart" icon="ion-android-cart" href="#/tab/cart">
    <ion-nav-view name="tab-cart"></ion-nav-view>
  </ion-tab>


  
  <ion-tab title="Account" icon="icon ion-gear-b" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
