<ion-view title="Thankyou" >
<ion-header-bar class="bar-royal"> 
                <div class = "buttons" style = "display:inline-block;" > 
                    
                    <h1 class="title">Thank You</h1>
                    
                  </div>
               </ion-header-bar>

  <ion-content has-header="true" padding="true" scroll='true' class="">
  <div class="card" style="margin-top:49px">
  <div class="item item-divider">
    Transaction Complete
  </div>
  <div class="item item-text-wrap">
    Current Balance : ${{currentUser.balance}}
  </div>
</div>

<a class="button button-block button-assertive" ui-sref="tab.cart">Go Back</a>
<a class="button button-block button-dark" ui-sref='tab.account'>My Account</a>
  </ion-content>
 
</ion-view>
